<div class="overflow-y-hidden relative flex text-center justify-center h-screen w-screen">
  <div class="w-3 pole aurora disablePointerActions overflow-hidden"></div>
  <div class="flex-shrink-0 disablePointerActions box-container text-on-surface overflow-hidden">
    @for (answer of round()?.playerAnswers ?? []; track $index) {
      <div
        [class.opacity-50]="answer.correct === false && round()?.showResults === true"
        class="aurora w-80 h-20 p-2 mt-20 overflow-hidden"
      >
        <p class="text-sm underline">
          {{ session.match()?.players?.[$index]?.name }}
        </p>
        <p class="text-center font-bold text-lg">
          {{ answer.answer.toUpperCase() }}
        </p>
      </div>
    }
  </div>
  @if (session.role() === Role.Player) {
    <div class="fixed z-50 bottom-0 right-0">
      <button
        [disabled]="disabledObstacleButton()"
        (click)="attemptObstacle()"
        mat-fab
        extended
        class="h-12 w-64 align-bottom items-center text-right"
      >
        TRẢ LỜI CNV
      </button>
    </div>
  }
  <div class="absolute left-5 flex bottom-5 gap-2 flex-col self-end ml-5 mt-10 w-52">
    @for (buzz of round()?.obstacleBuzzes ?? []; track buzz.playerIndex) {
      <div class="w-52 text-lg rounded-md special-highlight p-3">
        {{ session.match()?.players?.[buzz.playerIndex]?.name }}
      </div>
    }
  </div>
</div>
