<div *ngIf="state === false">
    <mat-form-field>
        <input matInput placeholder="STT" [(ngModel)]="id">
    </mat-form-field>
    <button mat-icon-button (click)="login()">
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>

<div #container *ngIf="state === true">
    <div class="name-box">
        <div class="text-box">
            <p class="name-text">{{matchData.players[stt].name}}</p>
        </div>

    </div>
    <div class="score-box"> 
        <p class="score-text">{{matchData.players[stt].score}}</p>

    </div>
</div>
