<div
  class="table-header sticky z-50 top-0 w-full mb-2 p-2 rounded-xl box-border h-16 items-center justify-center pl-5 flex flex-row"
>
  <div class="w-6/12 flex items-center h-full">
    <strong> Câu hỏi </strong>
  </div>
  <div class="w-4/12 flex items-center h-full">
    <strong> Đáp án </strong>
  </div>
  <div class="flex flex-grow justify-start items-center h-full">
    <strong>Hành động</strong>
  </div>
</div>
<div
  cdkDropList
  class="w-full table-list min-h-16"
  (cdkDropListDropped)="drop($event)"
>
  @for (question of questions; track $index) {
  <div
    class="w-full flex-1 group table-item border border-solid item-border mb-2 p-2 rounded-xl box-border min-h-16 h-max items-center justify-center pl-5 flex flex-row"
    cdkDrag
  >
    <div
      [ngClass]="{'justify-between items-center': mediaPlacement === 'inline', 'flex-col': mediaPlacement === 'under'}"
      class="w-6/12 flex pr-10 box-border h-full"
    >
      <editable
        class="flex-grow"
        openBindingEvent="click"
        (save)="save()"
        (cancel)="cancel()"
      >
        <ng-template viewMode>
          <strong>Câu {{ $index + 1 }}:</strong>
          {{ question.question !== "" ? question.question : "Nhấp để nhập." }}
        </ng-template>
        <ng-template editMode>
          <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="w-full"
          >
            <textarea
              matInput
              editableOnEnter
              editableOnEscape
              [(ngModel)]="question.question"
            ></textarea>
          </mat-form-field>
        </ng-template>
      </editable>
      @if(question.mediaSrc){
      <div class="w-max mx-4">
        @if(question.type === questionType.VIDEO){
        <video
          class="w-40 rounded-xl"
          controls
          src="{{ question.mediaSrc }}"
        ></video>
        } @if (question.type === questionType.IMAGE){
        <img class="w-40 rounded-xl" src="{{ question.mediaSrc }}" />
        } @if (question.type === questionType.AUDIO) {
        <audio
          class="w-40 rounded-xl"
          controls
          src="{{ question.mediaSrc }}"
        ></audio>
        }
      </div>
      }
    </div>
    <div
      class="w-4/12 flex justify-between items-center pr-2 box-border h-full"
    >
      <editable class="flex-grow">
        <ng-template viewMode class="">
          <strong class="w-full text-wrap">
            {{ question.answer !== "" ? question.answer : "Nhấp để nhập." }}
          </strong>
        </ng-template>
        <ng-template editMode>
          <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="w-full"
          >
            <textarea
              matInput
              editableOnEnter
              editableOnEscape
              [(ngModel)]="question.answer"
            ></textarea>
          </mat-form-field>
        </ng-template>
      </editable>
    </div>
    <div class="flex flex-grow items-center group-hover:opacity-100 opacity-0 transition-opacity">
      <button *ngIf="allowDelete" mat-icon-button matTooltip="Xoá câu hỏi">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Đính kèm media">
        <mat-icon>attach_file</mat-icon>
      </button>
      <div class="flex flex-grow"></div>
      <mat-icon class="cursor-move" cdkDragHandle matTooltip="Kéo để di chuyển vị trí câu hỏi"
        >drag_indicator</mat-icon
      >
    </div>
  </div>
  }
</div>
