.cnvPicBox {
  width: 640px;
  height: 360px;
  border-radius: 10px;

}
.cnvPicCoverCell1 {
  width: 320px;
  height: 180px;
  box-shadow: -1px -1px 0 ;
}
.cnvCornerCell1 {
  width: 320px;
  height: 90px;
}
.cnvCornerCell2 {
  width: 160px;
  height: 90px;
}
.CCell1 {
  box-shadow: inset -1px 0px 0 ;
}
.CCell2 {
  box-shadow: inset 0px -1px 0 ;
  
}
.CCell3 {
  box-shadow: 0px -1px 0 ;
  
}
.CCell6 {
  box-shadow: inset 0px -1px 0 ;
}
.CCell8 {
  box-shadow: inset -1px 0px 0 ;
}
.border-right-1 {
  border: 1px;
}
.cnvPicCoverCell2 {
  width: 320px;
  height: 180px;
  margin-left: 320px;
  box-shadow: 1px -1px 0 ;
}
.cnvPicCoverCell3 {
  width: 320px;
  height: 180px;
  margin-top: 180px;
  box-shadow: -1px 1px 0 ;
}
.mt-90px {
  margin-top: 90px;
}

.cnvPicCoverCell4 {
  width: 320px;
  height: 180px;
  margin-top: 180px;
  margin-left: 320px;
  box-shadow: 1px 1px 0 ;
}

.cnvPicCoverCellCenter {
  width: 320px;
  height: 180px;
  margin-top: 90px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 90px;
  box-shadow: 0 0 0px 1px ;
}
.cnvTextBox {
  width: 640px;
  height: 360px;
  letter-spacing: 9px;
}
.topPortion {
  display: block;
  overflow: auto;
}

.aurora {
  @apply relative drop-shadow-lg rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60;
}
.form-field {
  width: 70%;
}
.image {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}
.disablePointerActions {
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
}
// .highlight {
//   background-color: goldenrod !important;
// }

// .opened-question {
//   color: gray !important;
// }
