<div class="relative overflow-hidden flex-col flex bg-gray-dark h-full w-screen">
    <div class=" absolute self-center ml-5 mt-10 w-52 h-60">
        <div *ngIf="vcnvData.CNVPlayers[0] != undefined"
            class=" w-52 h-12 flex items-center justify-center text-center text-lg rounded-lg border-2 border-gray-darkest font-black bg-golden text-gray-darkest">
            {{matchData.players[vcnvData.CNVPlayers[0].id].name}}</div>
        <div *ngIf="vcnvData.CNVPlayers[1] != undefined"
            class=" w-52 h-12 flex items-center justify-center text-center text-lg rounded-lg border-2 border-gray-darkest font-black mt-2 bg-golden text-gray-darkest">
            {{matchData.players[vcnvData.CNVPlayers[1].id].name}}</div>
        <div *ngIf="vcnvData.CNVPlayers[2] != undefined"
            class=" w-52 h-12 flex items-center justify-center text-center text-lg rounded-lg border-2 border-gray-darkest font-black mt-2 bg-golden text-gray-darkest">
            {{matchData.players[vcnvData.CNVPlayers[2].id].name}}</div>
        <div *ngIf="vcnvData.CNVPlayers[3] != undefined"
            class=" w-52 h-12 flex items-center justify-center text-center text-lg rounded-lg border-2 border-gray-darkest font-black mt-2 bg-golden text-gray-darkest">
            {{matchData.players[vcnvData.CNVPlayers[3].id].name}}</div>
    </div>
    <div class="topPortion disablePointerActions">
        <div class="justify-center bg-blue-dark float-left mt-10 ml-10 cnvPicBox content-center overflow-hidden">
            <div [ngClass]="{'opacity-0': vcnvData.questions[4].ifOpen === true}"
                class=" text-center flex justify-center items-center text-2xl font-black cnvPicCoverCellCenter absolute z-20  text-white bg-gray border-2 border-white">
                5</div>
            <div [ngClass]="{'opacity-0': vcnvData.questions[0].ifOpen === true}"
                class=" text-center flex justify-center items-center text-2xl font-black cnvPicCoverCell1 absolute z-10  text-white bg-gray border-2 border-white">
                1</div>
            <div [ngClass]="{'opacity-0': vcnvData.questions[1].ifOpen === true}"
                class=" text-center flex justify-center items-center text-2xl font-black cnvPicCoverCell2 absolute z-10  text-white bg-gray border-2 border-white">
                2</div>
            <div [ngClass]="{'opacity-0': vcnvData.questions[2].ifOpen === true}"
                class=" text-center flex justify-center items-center text-2xl font-black cnvPicCoverCell3 absolute z-10  text-white bg-gray border-2 border-white">
                3</div>
            <div [ngClass]="{'opacity-0': vcnvData.questions[3].ifOpen === true}"
                class=" text-center flex justify-center items-center text-2xl font-black cnvPicCoverCell4 absolute bg-gray text-white z-10 border-2 border-white">
                4</div>
            <img draggable="false" (dragstart)="false" class="min-h-full image min-w-full z-0 static flex-shrink-0"
                src='../../assets/picture-questions/vcnv/{{vcnvData.questions[5].picFileName}}'>
        </div>
        <div class=" overflow-hidden text-center justify-center items-center cnvTextBox flex mr-10 float-right">
            <div class="">
                <div [ngClass]="{'highlight': highlightedVCNVQuestion.question === vcnvData.questions[0].question}"
                    class="bg-gray      h-auto p-3 text-right items-center justify-center text-2xl rounded-lg text-white">
                    {{VCNVStrings[0]}}</div>
                <div [ngClass]="{'highlight': highlightedVCNVQuestion.question === vcnvData.questions[1].question}"
                    class="bg-gray mt-5 h-auto p-3 text-right items-center justify-center text-2xl rounded-lg text-white">
                    {{VCNVStrings[1]}}</div>
                <div [ngClass]="{'highlight': highlightedVCNVQuestion.question === vcnvData.questions[2].question}"
                    class="bg-gray mt-5 h-auto p-3 text-right items-center justify-center text-2xl rounded-lg text-white">
                    {{VCNVStrings[2]}}</div>
                <div [ngClass]="{'highlight': highlightedVCNVQuestion.question === vcnvData.questions[3].question}"
                    class="bg-gray mt-5 h-auto p-3 text-right items-center justify-center text-2xl rounded-lg text-white">
                    {{VCNVStrings[3]}}</div>
            </div>
            <div class="ml-10">
                <div [ngClass]="{'opened-question': vcnvData.questions[0].ifShown == true}"
                    class="      h-auto p-3 justify-center items-center flex text-2xl text-center rounded-lg text-white">
                    1</div>
                <div [ngClass]="{'opened-question': vcnvData.questions[1].ifShown == true}"
                    class=" mt-5 h-auto p-3 justify-center items-center flex text-2xl text-center rounded-lg text-white">
                    2</div>
                <div [ngClass]="{'opened-question': vcnvData.questions[2].ifShown == true}"
                    class=" mt-5 h-auto p-3 justify-center items-center flex text-2xl text-center rounded-lg text-white">
                    3</div>
                <div [ngClass]="{'opened-question': vcnvData.questions[3].ifShown == true}"
                    class=" mt-5 h-auto p-3 justify-center items-center flex text-2xl text-center rounded-lg text-white">
                    4</div>
            </div>
        </div>
    </div>
    <div>
        <div class="text-xl ml-10 mt-5 disablePointerActions text-white">CNV CÓ: {{VCNVStrings[5].length}} KÍ TỰ</div>
        <div
            class="bg-gray disablePointerActions h-48 text-left relative items float-left p-5 text-2xl question-box flex overflow-auto text-white ml-10 mt-5 rounded-xl">
            {{curVCNVQuestion.question}}
            <div *ngIf="curVCNVQuestion.answer != undefined" class="font-bold absolute m-5 right-0 bottom-0">
                HN CÓ {{curVCNVQuestion.answer.replace(" ", '').length}} KÍ TỰ
            </div>
            <div *ngIf="roleId == 3 && currentTime > 0" class="font-thin absolute m-5 right-left bottom-0">
                {{currentTime}}
            </div>
        </div>
        <div
            class="disablePointerActions w-56 overflow-hidden h-48 text-center items-center justify-center flex flex-col float-right text-white ml-3 mt-5 mr-10">
            <div [ngClass]="{'name-highlight': playerIndex == 0 }"
                class="text-xl mt-2 w-64 rounded-lg p-1.5 text-center text-white bg-gray">
                {{matchData.players[0].name.toUpperCase()}} ({{matchData.players[0].score}})
            </div>
            <div [ngClass]="{'name-highlight': playerIndex == 1 }"
                class="text-xl mt-2 w-64 rounded-lg p-1.5 text-center text-white bg-gray">
                {{matchData.players[1].name.toUpperCase()}} ({{matchData.players[1].score}})
            </div>
            <div [ngClass]="{'name-highlight': playerIndex == 2 }"
                class="text-xl mt-2 w-64 rounded-lg p-1.5 text-center text-white bg-gray">
                {{matchData.players[2].name.toUpperCase()}} ({{matchData.players[2].score}})
            </div>
            <div [ngClass]="{'name-highlight': playerIndex == 3 }"
                class="text-xl mt-2 w-64 rounded-lg p-1.5 text-center text-white bg-gray">
                {{matchData.players[3].name.toUpperCase()}} ({{matchData.players[3].score}})
            </div>
        </div>
        <div *ngIf="roleId != 3" class="relative float-left answer-box mt-1">
            <mat-form-field class="ml-10  form-field text-lg ">
                <input matInput autocomplete="off" (keyup)="checkIfTime()" (keyup.enter)="submitAnswer()"
                    [(ngModel)]="playerAnswer" placeholder="Nhập đáp án vào đây" class="text-white ">
            </mat-form-field>
            <button (click)="submitAnswer()" mat-icon-button class="text-white">
                <mat-icon>done</mat-icon>
            </button>
        </div>
        <div *ngIf="roleId != 3"
            class="mr-10 disablePointerActions inline-flex mt-8 text-right justify-center items-center text-white">
            <p class=" text-2xl  pr-32 text-white">{{answerCache}}</p>
        </div>
        <div *ngIf="roleId != 3"
            class="mr-10 disablePointerActions inline-flex mt-8 text-right justify-center items-center text-white">
            <p *ngIf="currentTime != 0" class=" text-2xl  pr-32 text-white">Thời gian: {{currentTime}}</p>
        </div>
    </div>
    <div *ngIf="roleId != 3" class="fixed z-50 bottom-0 right-0">
        <button [disabled]="disabledCNVButton == true" (click)="attemptVCNV()" mat-raised-button
            class=" h-12 w-64 align-bottom items-center text-right">TRẢ LỜI CNV</button>
    </div>
</div>