.cnvPicBox {
    width: 640px;
    height: 360px;
    border-radius: 10px;
}
.cnvPicCoverCell1 {
    width: 320px;
    height: 180px;
    box-shadow: -1px -1px 0 #000;
}
.cnvCornerCell1{
    width: 320px;
    height: 90px;
}
.cnvCornerCell2{
  width: 160px;
  height: 90px;

}
.CCell1{
  box-shadow: inset -1px 0px 0 #000;
}
.CCell2{
  box-shadow: inset 0px -1px 0 #000;
}
.CCell3{
  box-shadow:  0px -1px 0 #000;
}
.CCell6{
  box-shadow: inset 0px -1px 0 #000;
}
.CCell8{
  box-shadow: inset -1px 0px 0 #000;
}
.border-right-1{
  border: 1px;
}
.cnvPicCoverCell2 {
    width: 320px;
    height: 180px;
    margin-left: 320px;
    box-shadow: 1px -1px 0 #000;
}
.cnvPicCoverCell3 {
    width: 320px;
    height: 180px;
    margin-top: 180px;
    box-shadow: -1px 1px 0 #000;
}
.mt-90px{
  margin-top: 90px;
}

.cnvPicCoverCell4 {
    width: 320px;
    height: 180px;
    margin-top: 180px;
    margin-left: 320px;
    box-shadow: 1px 1px 0 #000;
}

.cnvPicCoverCellCenter{
    width: 320px;
    height: 180px;
    margin-top: 90px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 90px;
}
.cnvTextBox {
    width: 640px;
    height: 360px;
    letter-spacing: 9px;
}
.topPortion {
    display: block;
    overflow: auto;
}
::ng-deep input.mat-input-element {
    color: black;
  }
  
  /* Change label color on focused */
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: goldenrod !important;
    caret-color: goldenrod !important;
  }
  ::ng-deep .mat-form-field-label {
    /* clear label styles */
    color: black !important;

  }
  /* underline border color on focused */
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: goldenrod !important;
    caret-color: goldenrod !important;
  }
  ::ng-deep .mat-form-field-cursor{
    background-color: goldenrod !important;
    caret-color: goldenrod !important;
  }
  .aurora {
    @apply relative drop-shadow-lg rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60;
  }
  .form-field{
      width: 70%
  }
  .image{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
  }
  .disablePointerActions {
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
            user-select: none; 
}
.highlight {
    background-color: goldenrod !important;
}

.opened-question {
  color: gray !important;
}