<menu-item title="Preview hình ảnh, video của câu hỏi" orientation="vertical">
  <div class="h-full rounded-md overflow-hidden flex flex-col gap-2">
    @for (item of items(); track item.url) {
      @if (item.kind === 'image') {
        <img class="w-full" [src]="item.url" [alt]="item.alt" />
      } @else if (item.kind === 'video') {
        <video class="w-full" [src]="item.url" controls></video>
      } @else if (item.kind === 'audio') {
        <audio class="w-full" [src]="item.url" controls></audio>
      }
    } @empty {
      Câu hỏi không có media
    }
  </div>
</menu-item>
