<div class="flex p-5 box-border gap-5 h-screen w-screen">
  <div class="flex flex-col gap-5 items-center">
    <div
      class="w-32 h-32 disablePointerActions shadow-xl flex text-center p-10 border-2 justify-center items-center text-6xl font-semibold rounded-xl"
    >
      {{ time }}
    </div>
    <player-list
      [players]="this.auth.matchData().players"
      [highlightIndex]="currentTurn"
    >
    </player-list>
    <button
      *ngIf="
        this.auth.userInfo().roleId != 3 &&
        chpData.playerIDs[auth.userInfo().index!] == true
      "
      mat-fab
      extended
      class="big-button"
      (click)="getAnswerTurn()"
      [disabled]="answerButtonDisabled"
    >
      GIÀNH QUYỀN TRẢ LỜI
    </button>
  </div>
  <div
    [ngClass]="{ 'text-gold': ifGotTurn === true }"
    class="disablePointerActions relative drop-shadow-lg w-full h-full questionBox text-3xl border-2 rounded-xl"
  >
    {{ question.question }}
  </div>
</div>
