<div class="aurora-bg overflow-hidden box-border gap-5 p-10 flex h-full w-full">
  <div class="gap-5 flex text-center flex-col items-center">
    @if (maxQuestionNo() > 0) {
      <span class="w-full text-2xl">Câu hỏi số</span>
      <div class="grid text-7xl place-items-center w-full">
        <span class="w-full"> {{ questionNo() }} : {{ maxQuestionNo() }} </span>
        <mat-progress-bar
          mode="determinate"
          [value]="(questionNo() * 100) / maxQuestionNo()"
          color="primary"
        ></mat-progress-bar>
      </div>
    } @else {
      <h6 class="w-full text-2xl">Phần thi</h6>
      <h5>
        <strong>{{ round()?.gamemode === 'M' ? 'Đối kháng' : 'Cá nhân' }}</strong>
      </h5>
    }

    <div class="text-4xl disablePointerActions relative z-2 py-3 w-full rounded-xl text-center">
      <span [class.opacity-0]="timerBuzz() <= 0" class="text-4xl">{{ timerBuzz() / 10 }}s</span>
      <span [class.opacity-0]="timerAnswer() <= 0" class="text-4xl">{{ timerAnswer() / 10 }}s</span>
    </div>

    <player-list
      [players]="session.match()?.players ?? []"
      [turnIndex]="turnIndex()"
      [highlightIndex]="round()?.gamemode === 'S' ? (round()?.activePlayerIndex ?? -1) : -1"
    ></player-list>

    @if (session.role() === Role.Player && round()?.gamemode === 'M') {
      <button
        mat-fab
        extended
        (click)="getAnswerTurn()"
        [disabled]="answerButtonDisabled()"
        class="big-button"
        color="primary"
      >
        <span class="mat-h2"> GIÀNH QUYỀN </span>
      </button>
    }
  </div>
  <div
    [class.text-gold]="gotTurn()"
    class="disablePointerActions relative p-10 questionBox box-border shadow-lg w-full h-full text-3xl"
  >
    <span class="h-full flex flex-col w-full mat-headline-1">
      {{ question()?.question }}
      @if (imageUrl(); as src) {
        <img [src]="src" class="max-w-2xl mt-10" />
      }
    </span>
    @if (questionNo() > 1 && previousAnswer()) {
      <div class="flex mt-10 bottom-32 left-16 answer-box absolute w-max p-5">
        {{ previousAnswer() }}
      </div>
    }
  </div>
</div>
