<div class=" flex w-screen h-screen">
    <div class="half-width float-left flex-col flex text-center overflow-hidden table-container">
      <div class="m-5">
        <div class="inline  text-xl">Thí sinh giành quyền: {{lastTurn.name}}</div>
        <div class=" mt-2">
          <div class="inline mr-10">
            <button mat-raised-button [disabled]="lastTurn.name == undefined" (click)="markCorrect()">Đúng</button>
          </div>
          <div class="inline">
            <button mat-raised-button [disabled]="lastTurn.name == undefined" (click)="markWrong()">Sai</button>
          </div>
        </div>
        <div class="mt-5">
          <span class="m-2 inline">
            <button mat-raised-button [disabled]="threeSecTimers[1] > 0 || currentTime <= 0"
              (click)="playSfx('BLANK_SPC')" class="w-52">Âm thanh khoảng trống</button>
          </span>
        </div>
      </div>
      <div class="overflow-x-hidden text-center mb-5 mr-5 ml-5 height-600 w-auto h-auto text-xs">
        <table mat-table [dataSource]="chpData.questions" class="">
          <ng-container matColumnDef="question">
            <th mat-header-cell *matHeaderCellDef> Câu hỏi </th>
            <td mat-cell *matCellDef="let element"> {{element.question}} </td>
          </ng-container>
          <ng-container matColumnDef="answer">
            <th mat-header-cell *matHeaderCellDef> Đáp án </th>
            <td mat-cell *matCellDef="let element"> {{element.answer}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedQuestionColumns"></tr>
          <tr mat-row *matRowDef="let row; columns:
           displayedQuestionColumns;" class=""
            [ngClass]="{'': row.ifSong === true}" (click)="onClickQuestion(row)"
            (dblclick)="onDoubleClickQuestion(row)"
            [ngClass]="{'highlight': displayingRow === row, 'choose': chosenRow === row}"></tr>
        </table>
      </div>
      <div class=" text-right  mr-5">
        <button mat-icon-button (click)="clearQuestion()">
          <mat-icon>visibility_off</mat-icon>
        </button>
        <button mat-icon-button (click)="editQuestion()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div class="half-width flex flex-col items-center  float-right text-center overflow-hidden table-container">
      <div class="m-5 flex-col  text-xl">
        <div class="inline">
          <button mat-raised-button (click)="clockPause()" class="w-52">Pause/Resume thời gian</button>
        </div>
        <div class="inline ml-5">
          <button mat-raised-button (click)="clockStart()" class="w-52">Bắt đầu thời gian</button>
        </div>
      </div>
      <div class="text-2xl ">
        <br>
        Thời gian hiện tại: {{currentTime}}s
      </div>
      <div class="text-2xl mt-5 ">
        Vị trí thí sinh: <span class="">{{auth.matchData.matchPos}}</span>
      </div>
      <div class="overflow-x-hidden w-max m-10 text-2xl">
        <table mat-table [dataSource]="auth.matchData.players" class="w-max">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{auth.matchData.players.indexOf(element) + 1}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Tên </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Điểm </th>
            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
          </ng-container>
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Đã kết nối? </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox disabled="true" [checked]="element.isReady"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="playing">
            <th mat-header-cell *matHeaderCellDef> Chơi </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox (change)="auth.socket.emit('update-chp-data', chpData);" [(ngModel)]="chpData.playerIDs[auth.matchData.players.indexOf(element)]"></mat-checkbox>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedPlayerColumns"></tr>
          <tr mat-row *matRowDef="let row;
              columns: displayedPlayerColumns;" class="row" (dblclick)="onDoubleClickPlayer(row)"></tr>
        </table>
      </div>
    </div>