.questionBox {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.videoBox{
    width: 42rem;
}
.picture {
    height: 50rem;
}
.very-long {
    height: 64px;
    width : 600px;
}
.disablePointerActions {
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
            user-select: none; 
}
.name-highlight {
    background-color: goldenrod !important;
    color: black !important;
}
.question-text {
    width: 70vw;
    height: 75vh;
    margin-top: 4rem;
    margin-right: 2rem;
    text-align: left;
    margin-bottom: 1rem;
}
.aurora {
    @apply relative drop-shadow-lg rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-50;
  }
.active{
    width: 100%;
}
.hidden{
    width: 0px;
}
.typebox {
    height: 33%;
    width: 100%;
    margin: 10px;
}
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
mat-checkbox {
    transform: scale(2);
    margin: 0.5rem;
    margin-top: 1.25rem;
}
.text-black {
    color: black !important;
}
.zoom {
    zoom: 1.5;
}