.questionBox {
    width: max-content;
    height: 540px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.videoBox{
    width: 720px;
    height: 405px;
}
.very-long {
    height: 64px;
    width : 600px;
}
.disablePointerActions {
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
            user-select: none; 
}
.question-text {
    width: 70rem;
    height: 75vh;
    margin-top: 4rem;
    margin-right: 2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.active{
    width: 100%;
}
.hidden{
    width: 0px;
}
.typebox {
    height: 33%;
    width: 100%;
    margin: 10px;
}
mat-checkbox {
    transform: scale(2);
    margin: 0.5rem;
    margin-top: 1.25rem;
}
.text-black {
    color: black !important;
}