<head>
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
</head>
<div class="bg-gray-dark flex h-screen w-screen">
    <div class="float-left disablePointerActions p-16 ml-5">
      <div class="w-64 h-64 drop-shadow-lg flex text-center bg-gray text-white p-10 border-2 justify-center items-center text-8xl font-black rounded-xl">01</div>
      <div class=" text-2xl w-64 rounded-xl  text-white mt-10 text-center ">Số điểm:</div>
      <div class=" text-8xl w-64 rounded-xl  text-blue-light mt-5 text-center ">100</div>
      <div class="text-md mt-2 w-64 rounded-md p-2 text-center text-white bg-gray">NGUYỄN VĂN THỊ ANH THANH - 100</div>
      <div class="text-md mt-2 w-64 rounded-md p-2 text-center text-gray-darkest bg-white">NGUYỄN VĂN THỊ ANH THANH - 100</div>
      <div class="text-md mt-2 w-64 rounded-md p-2 text-center text-white bg-gray">NGUYỄN VĂN THỊ ANH THANH - 100</div>
      <div class="text-md mt-2 w-64 rounded-md p-2 text-center text-white bg-gray">NGUYỄN VĂN THỊ ANH THANH - 100</div>
    </div>
    <div class=" justify-center items-center text-center" >
        <div class="questionBox disablePointerActions float-right mt-16 ml-10  mb-5 text-3xl">
            <video id="video-1" class="video-js video-js-16-9 videoBox" preload="auto" poster="../../assets/BG-HTVH-IV.png" data-setup="{}">
                <source src="../../assets/testvid.mp4" type="video/mp4" />
            </video>
            <div class="h-full w-96 m-5 text-white text-base text-left rounded-xl p-5 bg-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, quis? Culpa iure numquam et nisi similique aliquid ab eveniet amet molestias. Recusandae eius itaque in velit ratione incidunt enim vero!Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, quis? Culpa iure numquam et nisi similique aliquid ab eveniet amet molestias. Recusandae eius itaque in velit ratione incidunt enim vero!Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, quis? Culpa iure numquam et nisi similique aliquid ab eveniet amet molestias. Recusandae eius itaque in velit ratione incidunt enim vero! </div>
        </div>
        <button mat-raised-button class="bg-gray-light text-xl h-32 very-long text-gray-darkest">
            GIÀNH CHUÔNG TRẢ LỜI
        </button>
    </div>

  </div>