.half-width {
  width: 50vw;
}
.table-container {
  min-height: 200px;
  max-height: calc(100vh - 50px);

  overflow-x: hidden;
}
.height-600 {
  height: 100%;
}
.mat-column-question{
  width: 320px;
  text-align: left;
}
.highlight {
  background-color: #2d2d2d !important;
  color: #000 !important;
}
.choose{
  background-color: #404040 !important;
  color: #000 !important;
}
.row:hover{
  background-color: rgb(64, 64, 64);
}
.mat-column-answer{
  width: 200px;
  text-align: left;
  padding-left: 10px;
}
.mat-column-name{
  width: 200px;
  text-align: left;
  padding-left: 10px;
}
.mat-column-score{
  width: 1em;
  text-align: center;
  padding-right: 10px;
}
.mat-column-id {
  width: 80px;
  text-align: center;
  padding: 0px;
}
