<div class="admin-container">
  <mat-card appearance="outlined" class="w-full">
    <mat-card-header class="py-2">
      <mat-card-title> Danh sách câu hỏi </mat-card-title>
      <mat-card-subtitle>
        Nhấn 1 lần để highlight câu hỏi, nhấn đúp chuột để chọn câu hỏi.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="overflow-y-auto">
      @if(vcnvData){
      <table mat-table [dataSource]="vcnvData.questions" class="">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td
            mat-cell
            [ngClass]="{choose: chosenRow === element,}"
            *matCellDef="let element"
          >
            {{ element.id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="question">
          <th mat-header-cell *matHeaderCellDef>Câu hỏi</th>
          <td mat-cell *matCellDef="let element">{{ element.question }}</td>
        </ng-container>
        <ng-container matColumnDef="answer">
          <th mat-header-cell *matHeaderCellDef>Đáp án</th>
          <td mat-cell *matCellDef="let element">{{ element.answer }}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Loại</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Giá trị</th>
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Hành động</th>
          <td
            mat-cell
            [ngClass]="{
              highlight: displayingRow === element,
              opened: vcnvData.questions[element.id - 1].ifOpen === true
            }"
            *matCellDef="let element"
          >
            @if (element.type != 'CNV'){
            <div class="flex items-center flex-wrap gap-2">
              <button
                mat-icon-button
                matTooltip="Không cho thấy góc hình ảnh"
                (click)="closeHN(element.id)"
              >
                <mat-icon>disabled_by_default</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Cho thấy góc hình ảnh"
                (click)="playSfx('VCNV_PIC_REVEAL')"
                (click)="openHN(element.id)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <mat-checkbox
                matTooltip="Câu hỏi đã hiện hay chưa"
                color="primary"
                (change)="toggleIfShown()"
                [(ngModel)]="element.ifShown"
              ></mat-checkbox>
            </div>
            }
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedQuestionColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedQuestionColumns"
          (click)="onClickQuestion(row)"
          (dblclick)="onDoubleClickQuestion(row)"
          (dblclick)="playSfx('VCNV_CHOOSE_ROW')"
        ></tr>
      </table>
      }
      @else {
        <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
      }
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-button
        matTooltip="Chỉnh sửa câu hỏi đang chọn (nhấn 1 lần vào câu hỏi cần sửa)"
        (click)="editQuestion()"
      >
        <mat-icon>edit</mat-icon>
        Chỉnh sửa
      </button>
      <button
        mat-button
        matTooltip="Cho thí sinh/MC nhìn thấy câu hỏi được highlight"
        (click)="showQuestion()"
      >
        <mat-icon>visibility</mat-icon>
        Hiện câu hỏi
      </button>
      <button
        mat-button
        matTooltip="Ẩn câu hỏi khỏi màn hình của thí sinh và MC."
        (click)="hideQuestion()"
      >
        <mat-icon>visibility_off</mat-icon>
        Ẩn câu hỏi
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="outlined" class="w-full h-full">
    <mat-card-header>
      <mat-card-title> Quản lý vòng đấu </mat-card-title>
      <mat-card-subtitle>
        & chấm điểm hàng ngang, chướng ngại vật.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="overflow-y-auto">
      <menu-item
        title="Thời gian"
        description="Thời gian còn lại hiện tại: {{ currentTime }} giây"
      >
        <button
          mat-raised-button
          (click)="start15sTimer()"
          (click)="playSfx('VCNV_15S')"
        >
          <mat-icon> timer </mat-icon>
          Đếm ngược 15s
        </button>
        <button mat-button (click)="pauseClock()">
          <mat-icon> pause </mat-icon>
          Dừng đồng hồ
        </button>
      </menu-item>
      <menu-item
        title="Vị trí"
        description="Vị trí hiện tại:
      {{ auth.positionMap.get(auth.matchData().matchPos) }}"
      >
        <button mat-raised-button (click)="toggleAnswerDisplay()">
          <mat-icon>visibility</mat-icon>
          Hiện đáp án/câu hỏi
        </button>
      </menu-item>

      <menu-item
        title="Âm thanh"
        description="Phát nhạc hiệu & âm thanh khoảng trắng"
      >
        <button mat-raised-button (click)="playSfx('VCNV_START')">
          Nhạc hiệu
        </button>
        <button mat-raised-button (click)="playSfx('BLANK_SPC')">
          Khoảng trắng
        </button>
      </menu-item>
      <mat-card class="mat-elevation-z5">
        <mat-card-header>
          <mat-card-title class="mat-title-medium">
            Chấm hàng ngang
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="auth.matchData().players" class="">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Tên</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef>Điểm</th>
              <td mat-cell *matCellDef="let element">{{ element.score }}</td>
            </ng-container>
            <ng-container matColumnDef="response">
              <th mat-header-cell *matHeaderCellDef>Trả lời</th>
              <td mat-cell *matCellDef="let element">
                {{
                  vcnvData.playerAnswers[element.id - 1].answer.toUpperCase()
                }}
              </td>
            </ng-container>
            <ng-container matColumnDef="mark">
              <th mat-header-cell *matHeaderCellDef>Chấm</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox
                  (change)="auth.socket.emit('update-vcnv-data', vcnvData)"
                  [(ngModel)]="vcnvData.playerAnswers[element.id - 1].correct"
                  >Đúng</mat-checkbox
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef>Đã kết nối?</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox
                  disabled="true"
                  [checked]="element.isReady"
                ></mat-checkbox>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedPlayerColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedPlayerColumns"
              (dblclick)="onDoubleClickPlayer(row)"
            ></tr>
          </table>
        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-flat-button
            [disabled]="currentTime > 0"
            (click)="submitMark()"
          >
            Xác Nhận
          </button>
          <button
            [color]="vcnvData.showResults === true ? 'accent' : 'primary'"
            mat-raised-button
            (click)="toggleResultsDisplay()"
          >
            Toggle KQ chấm
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="mat-elevation-z5">
        <mat-card-header>
          <mat-card-title class="mat-title-medium">
            Chấm chướng ngại vật
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="vcnvData.CNVPlayers">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element">{{ element.id + 1 }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Tên</th>
              <td mat-cell *matCellDef="let element">
                {{ auth.matchData().players[element.id].name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef>Thời gian</th>
              <td mat-cell *matCellDef="let element">
                {{ element.readableTime }}
              </td>
            </ng-container>
            <ng-container matColumnDef="mark">
              <th mat-header-cell *matHeaderCellDef>Chấm</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox
                  color="primary"
                  [(ngModel)]="vcnvMark[element.id]"
                ></mat-checkbox
                >Đúng
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="displayedVCNVPlayersColumns"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedVCNVPlayersColumns"
            ></tr>
          </table>
        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-flat-button
            [disabled]="vcnvData.CNVPlayers.length == 0"
            (click)="submitVCNVMark()"
          >
            Xác Nhận
          </button>
          <button mat-raised-button (click)="resetCNVPlayers()">
            Reset Chuông CNV
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
