<div class="bg-gray-darkest flex w-screen h-screen">
  <div class="half-width float-left flex-col flex text-center overflow-hidden table-container">
    <div class="m-5">
    </div>
    <div class="overflow-x-hidden mb-5 mr-5 ml-5 height-600 w-max h-auto text-xs">
      <table mat-table [dataSource]="vcnvData.questions" class="">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="question">
          <th mat-header-cell *matHeaderCellDef> Câu hỏi </th>
          <td mat-cell *matCellDef="let element"> {{element.question}} </td>
        </ng-container>
        <ng-container matColumnDef="answer">
          <th mat-header-cell *matHeaderCellDef> Đáp án </th>
          <td mat-cell *matCellDef="let element"> {{element.answer}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Loại </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Giá trị </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Hành động</th>
          <td mat-cell *matCellDef="let element">
            <div class="inline" (click)="closeHN(element.id)" title="Không cho thầy góc hình ảnh"
              *ngIf="element.type != 'CNV'">
              <button mat-icon-button>
                <mat-icon>disabled_by_default</mat-icon>
              </button>
            </div>
            <div class="inline" (click)="openHN(element.id)" (click)="playSfx('VCNV_PIC_REVEAL')"
              title="Cho thầy góc hình ảnh" *ngIf="element.type != 'CNV'">
              <button mat-icon-button>
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedQuestionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedQuestionColumns;" (click)="onClickQuestion(row)"
          (dblclick)="onDoubleClickQuestion(row)" (dblclick)="playSfx('VCNV_CHOOSE_ROW')"
          [ngClass]="{'highlight': displayingRow === row, 'choose': chosenRow === row, 'bg-gray': vcnvData.questions[row.id - 1].ifOpen === true}">
        </tr>
      </table>
      <div class=" text-right text-white m-2">
        <button mat-icon-button title="Chỉnh sửa câu hỏi đang chọn (nhấn 1 lần vào câu hỏi cần sửa)"
          (click)="editQuestion()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button title="Cho thí sinh/MC nhìn thấy câu hỏi được highlight" (click)="showQuestion()">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button title="Ẩn câu hỏi" (click)="hideQuestion()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <div class=" text-2xl text-white">
        <span>Số HN đã mở: {{vcnvData.noOfOpenRows}}</span>
        <button [disabled]="vcnvData.noOfOpenRows <= 0" (click)="decreaseNoOfOpenRows()" mat-icon-button>
          <mat-icon>remove</mat-icon>
        </button>
      </div>

      <div class="overflow-x-hidden w-max m-10 text-2xl">
        <div class=" text-white mb-3"> Chấm CNV</div>
        <table mat-table [dataSource]="vcnvData.CNVPlayers" class="w-max">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id + 1}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Tên </th>
            <td mat-cell *matCellDef="let element"> {{matchData.players[element.id].name}} </td>
          </ng-container>
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Thời gian </th>
            <td mat-cell *matCellDef="let element">{{element.readableTime}}</td>
          </ng-container>
          <ng-container matColumnDef="mark">
            <th mat-header-cell *matHeaderCellDef> Chấm </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox [(ngModel)]="vcnvMark[element.id]">Đúng</mat-checkbox>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedVCNVPlayersColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedVCNVPlayersColumns;"></tr>
        </table>
        <div class="m-5">
          <button mat-raised-button [disabled]="vcnvData.CNVPlayers.length == 0" (click)="submitVCNVMark()">Xác
            Nhận</button>
        </div>
      </div>
    </div>
  </div>
  <div class="half-width flex flex-col items-center  float-right text-center overflow-hidden table-container">
    <div class="m-5">

      <div class="inline">
        <button mat-raised-button (click)="toggleAnswerDisplay()">Chuyển giữa xem đáp án/câu hỏi</button>
      </div>
      <div class="ml-5 inline">
        <button mat-raised-button (click)="start15sTimer()" (click)="playSfx('VCNV_15S')">Bắt đầu 15s</button>
      </div>
      <div class="mt-5">
        <button mat-raised-button (click)="playSfx('VCNV_START')">Nhạc hiệu VCNV</button>
      </div>
      <div class="text-2xl mt-5 text-white">
        Vị trí thí sinh: <span class="text-white">{{matchData.matchPos}}</span>
      </div>
    </div>
    <div class="overflow-x-hidden w-max m-5 text-2xl">
      <div class="text-white">Chấm HN</div>
      <table mat-table [dataSource]="matchData.players" class="w-max">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> Điểm </th>
          <td mat-cell *matCellDef="let element"> {{element.score}} </td>
        </ng-container>
        <ng-container matColumnDef="response">
          <th mat-header-cell *matHeaderCellDef> Trả lời </th>
          <td mat-cell *matCellDef="let element"> {{vcnvData.playerAnswers[element.id - 1].answer}} </td>
        </ng-container>
        <ng-container matColumnDef="mark">
          <th mat-header-cell *matHeaderCellDef> Chấm </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox (change)="socket.emit('update-vcnv-data', vcnvData);"
              [(ngModel)]="vcnvData.playerAnswers[element.id - 1].correct">Đúng</mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Đã kết nối? </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox disabled="true" [checked]="element.isReady"></mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedPlayerColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedPlayerColumns;" (dblclick)="onDoubleClickPlayer(row)"></tr>
      </table>
      <div class="m-5 ">
        <button mat-raised-button [disabled]="currentTime > 0" (click)="submitMark()">Xác Nhận</button>
      </div>
      <div class="m-5 inline">
        <button [ngClass]="{'bg-gray-lightest text-gray-darkest': vcnvData.showResults === true}" mat-raised-button
          (click)="toggleResultsDisplay()">Toggle KQ chấm</button>
      </div>
    </div>
    <div class="fixed z-50 bottom-0 right-0">
      <button mat-raised-button (click)="moveToTT()" class=" h-12 w-64 align-bottom items-center text-right">Chuyển tới
        phần TT</button>
    </div>
  </div>
</div>
