<div class="bg-gray-darkest flex w-screen h-screen">
    <div class="half-width float-left flex-col flex text-center overflow-hidden table-container">
      <div class="m-5">
        <div class="inline mr-10">
          <button mat-raised-button class="w-52">Âm thanh khoảng trống</button>
        </div>
        <div class="inline mr-10">
          <button mat-raised-button>Đúng</button>
        </div>
        <div class="inline">
          <button mat-raised-button>Sai</button>
        </div>
        
      </div>
      <div class="overflow-x-hidden mb-5 mr-5 ml-5 height-600 w-max h-auto text-xs">
        <table mat-table [dataSource]="questionTableData" class="">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="question"> 
            <th mat-header-cell *matHeaderCellDef> Câu hỏi </th>
            <td mat-cell *matCellDef="let element"> {{element.question}} </td>
          </ng-container>
          <ng-container matColumnDef="answer">
            <th mat-header-cell *matHeaderCellDef> Đáp án </th>
            <td mat-cell *matCellDef="let element"> {{element.answer}} </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Loại </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Giá trị </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Hành động</th>
            <td mat-cell *matCellDef="let element"> 
                <div class=" inline">
                    <button mat-icon-button>
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                </div>
                <div class=" inline">
                    <button mat-icon-button>
                        <mat-icon>pause</mat-icon>
                    </button>
                </div>
                <div class="inline">
                    <button mat-icon-button>
                        <mat-icon>disabled_by_default</mat-icon>
                    </button>
                </div>
                <div class="inline">
                    <button mat-icon-button>
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedQuestionColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedQuestionColumns;"></tr>
        </table>
      </div>
    </div>
    <div class="half-width flex flex-col items-center  float-right text-center overflow-hidden table-container">
      <div class="m-5">
  
        <div class="inline">
          <button mat-raised-button>Chuyển giữa xem đáp án/câu hỏi</button>
        </div>
          
        <div class="inline ml-5">
            <button mat-raised-button></button>
          </div>
      </div>
      <div class="overflow-x-hidden w-max m-10 text-2xl">
        <table mat-table [dataSource]="playerTableData" class="w-max">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="name"> 
            <th mat-header-cell *matHeaderCellDef> Tên </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Điểm </th>
            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
          </ng-container>
          <ng-container matColumnDef="response">
            <th mat-header-cell *matHeaderCellDef> Trả lời </th>
            <td mat-cell *matCellDef="let element"> {{element.answerVCNV}} </td>
          </ng-container>
          <ng-container matColumnDef="mark">
            <th mat-header-cell *matHeaderCellDef> Chấm </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-checkbox>Đúng</mat-checkbox>    
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedPlayerColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedPlayerColumns;"></tr>
        </table>
        <div class="m-5">
            <button mat-raised-button>Xác Nhận</button>
        </div>
    </div>
    <div class="fixed z-50 bottom-0 right-0">
      <button mat-raised-button class=" h-12 w-64 align-bottom items-center text-right">Chuyển tới phần TT</button>
  </div>
  </div>