.half-width {
    width: 50vw;
  }
  .table-container {
    min-height: 200px;
    max-height: calc(100vh - 50px);
  
    overflow-x: hidden;
  }
  .height-600 {
    height: 100%;
  }
  .mat-column-question{
    width: 180px;
    text-align: left;
  }
  .mat-column-answer{
    width: 160px;
    text-align: left;
    padding-left: 10px;
  }
  .mat-column-type{
    width: 80px;
    text-align: left;
    padding-left: 10px;
  }
  .mat-column-value{
    width: 80px;
    text-align: left;
    padding-left: 10px;
  }
  .mat-column-action{
      width: 200px;
      text-align: left;
  }
  .mat-column-name{
    width: 160px;
    text-align: left;
    padding-left: 10px;
  }
  .mat-column-response{
    width: 300px;
    text-align: left;
    padding-left: 10px;
  }
  .mat-column-id {
    width: 80px;
    text-align: center;
    padding: 0px;
  }
  .mat-column-mark {
      width: 80px;
  }
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px;
  }
  