.base{
    width: 70rem;
    height: 20rem;
}
.question{
    width: 56rem;
    height: 20rem;
}
.question-with-img{
    width: 40rem;
}
.text-black {
    color: black !important;
}
.aurora {
    @apply bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60;
  }