<h1 mat-dialog-title>Sửa thông tin thí sinh</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="inputForm">
      <input matInput placeholder="Tên" [(ngModel)]="data.name">
    </mat-form-field>
    <div>
      <mat-form-field class="inputForm" >
          <input matInput placeholder="Số điểm" [(ngModel)]="data.score">
      </mat-form-field>
  </div>
  </div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Huỷ</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
</div>