.base{
    width: 70rem;
    height: 20rem;
}
.question{
    width: 56rem;
    height: 20rem;
}
.text-black {
    color: black !important;
}
.aurora {
    @apply drop-shadow-lg rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60;
}