<div class=" base relative flex justify-center items-center">
    <div class=" question flex flex-col mr-5  float-left">
        <div class=" h-12 w-full inline-flex">
            <div [ngClass]="{'!bg-darkblue-dark text-white': vdData.currentPlayerId === 1, '!bg-yellow-600 !text-white': playerStealingQuestion === 0}" class=" border-2 border-white w-56 rounded-tl-md h-full justify-center items-center bg-white text-lg font-semibold flex text-center">
                {{matchData.players[0].name.toUpperCase()}} - {{matchData.players[0].score}}
            </div>
            <div [ngClass]="{'!bg-darkblue-dark text-white': vdData.currentPlayerId === 2, '!bg-yellow-600 !text-white': playerStealingQuestion === 1}" class=" border-2 border-white w-56 h-full justify-center items-center bg-white text-lg font-semibold flex text-center">
                {{matchData.players[1].name.toUpperCase()}} - {{matchData.players[1].score}}
            </div>
            <div [ngClass]="{'!bg-darkblue-dark text-white': vdData.currentPlayerId === 3, '!bg-yellow-600 !text-white': playerStealingQuestion === 2}" class=" border-2 border-white w-56 h-full justify-center items-center bg-white text-lg font-semibold flex text-center">
                {{matchData.players[2].name.toUpperCase()}} - {{matchData.players[2].score}}
            </div>
            <div [ngClass]="{'!bg-darkblue-dark text-white': vdData.currentPlayerId === 4, '!bg-yellow-600 !text-white': playerStealingQuestion === 3}" class=" border-2 border-white w-56 rounded-tr-md h-full  justify-center items-center bg-white text-lg font-semibold flex text-center">
                {{matchData.players[3].name.toUpperCase()}} - {{matchData.players[3].score}}
            </div>
        </div>
        <div class="w-full relative text-xl text-black p-5 shadow-lg h-56 rounded-b-md bg-gradient-to-br from-pink-50 to-blue-50 bg-opacity-95">
            {{currentQuestion.question}}
            <span *ngIf="vdData.ifNSHV == true" class="absolute right-0 bottom-0 text-5xl text-yellow-600 p-5">★</span>
        </div>
    </div>
    <div class=" float-right w-52 text-7xl border-2 font-semibold rounded-xl justify-center text-center items-center flex h-52 bg-gradient-to-br from-pink-50 to-blue-50">{{time}}</div>
</div>
