<div class="aurora-bg overflow-hidden flex h-screen sm:h-full w-screen">
  <div class="float-left gap-5 pt-5 flex flex-col items-center ml-5">
    <div
      class="w-64 aurora shadow-xl h-64 rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 disablePointerActions flex text-center text-black justify-center items-center text-8xl font-black"
    >
      <img class="h-48 w-48" src="../../assets/misc/logo.png" />
    </div>

    <!-- 3s Timer (Player Triggered) *ngIf="threeSecTimer2 > 0"-->
    <player-list [players]="auth.matchData.players" [currentTurn]="currentTurn">

    </player-list>
    <!-- <div
      class="disablePointerActions w-64 overflow-hidden p-1 text-center gap-3 items-center flex flex-col"
    >
      <div
        *ngFor="let player of auth.matchData.players; let i = index"
        [ngClass]="{ 'name-highlight': currentTurn == i }"
        class="mat-h2 w-full rounded-md aurora py-3 px-1 text-center shadow-lg"
      >
        {{ auth.matchData.players[i].name }} ({{
          auth.matchData.players[i].score
        }})
      </div>
    </div> -->
    <button
      mat-raised-button
      *ngIf="gamemode == 'M'"
      (click)="getAnswerTurn()"
      [disabled]="answerButtonDisabled"
      class="w-full h-32"
      color="primary"
    >
      <span class="mat-h2"> GIÀNH QUYỀN </span>
    </button>
  </div>
  <div
    [ngClass]="{ 'text-gold': ifGotTurn === true }"
    class="disablePointerActions relative shadow-lg questionBox aurora float-right mt-5 ml-10 mr-10 text-3xl border-4"
  >
    <span class="h-full flex flex-col w-full p-10 mat-headline-1">
      {{ question.question }}
      <img
        *ngIf="picturePath != ''"
        src="{{ picturePath }}"
        class="max-w-2xl mt-10"
      />
    </span>
    <div
      *ngIf="this.currentQuestionNo > 1"
      class="flex mt-10 bottom-32 absolute w-max rounded-l p-5"
    >
      {{ answerCache }}
    </div>
  </div>
</div>
