<h1 mat-dialog-title>Thêm/Sửa câu hỏi</h1>
<div mat-dialog-content>
  <div>
    <div>
      <mat-radio-group aria-label="Chọn loại câu hỏi" [(ngModel)]="data.type">
        <mat-radio-button class=" p-5" value="N">Bình thường</mat-radio-button>
        <mat-radio-button class=" p-5" value="V">Video</mat-radio-button>
        <mat-radio-button class=" p-5" value="A">Âm thanh</mat-radio-button>
        <mat-radio-button class=" p-5" value="I">Hình ảnh</mat-radio-button>
    </mat-radio-group>
    <mat-radio-group aria-label="Chọn loại câu hỏi" [(ngModel)]="data.value">
        <mat-radio-button class=" p-5" value="30">30</mat-radio-button>
        <mat-radio-button class=" p-5" value="20">20</mat-radio-button>
    </mat-radio-group>
    </div>
    <div>
        <mat-form-field class="inputForm">
            <input matInput placeholder="Câu hỏi" [(ngModel)]="data.question">
          </mat-form-field>
        <mat-form-field class="inputForm">
            <input matInput placeholder="Đáp án" [(ngModel)]="data.answer">
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="inputForm">
          <input [disabled]="data.type == 'N'" matInput placeholder="Tên file Video/Âm thanh/Hình ảnh" [(ngModel)]="data.file_name">
      </mat-form-field>
    </div>
  </div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Huỷ</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
</div>