<div class="base relative flex justify-center items-center">
  <div
    class="question disablePointerActions bg-surface-container rounded-md overflow-hidden flex w-[70rem] flex-col mr-5"
  >
    <div class="h-12 w-full flex">
      @for (player of players(); track player.id; let i = $index) {
        <div
          [ngClass]="{ 'name-highlight': turnPlayerIndex() === i }"
          class="border-2 w-full box-border h-full bg-surface font-semibold flex justify-between gap-2 items-center p-5"
        >
          <span>{{ player.name.toUpperCase() }}</span>
          <span>{{ player.score }}</span>
        </div>
      }
    </div>
    <div class="w-full relative text-2xl box-border p-5 h-56">
      @if (currentQuestion(); as question) {
        @if (question.type === 'P') {
          <span class="w-full h-full justify-between flex gap-5">
            <span class="w-full max-w-96">{{ question.question }}</span>
            <img class="w-40 float-right" [src]="resolveImage(question)" />
          </span>
        } @else {
          <span>{{ question.question }}</span>
        }
      }
      @if (answerTimerTenths() <= 0 && turnTimerTenths() > 0) {
        <span class="absolute right-0 bottom-0 text-5xl p-5">{{ turnTimerTenths() / 10 }}</span>
      }
      @if (answerTimerTenths() > 0) {
        <span class="absolute right-0 bottom-0 text-5xl p-5">{{ answerTimerTenths() / 10 }}</span>
      }
    </div>
  </div>
  <div
    class="w-52 text-7xl bg-surface-container border-2 font-semibold rounded-xl grid place-items-center h-52"
  >
    @if (!currentQuestion() && !maxQuestionCount()) {
      -
    } @else {
      {{ questionNumber() }}/{{ maxQuestionCount() }}
    }
  </div>
</div>
