<div
  [ngClass]="{
    'overflow-x-hidden': auth.userInfo().roleId == 1
  }"
  class="w-screen h-screen"
>
  <mat-toolbar *ngIf="auth.userInfo().roleId == 1">
    <button
      mat-icon-button
      (click)="changeMatchPosAdmin('H')"
      title="Quay về màn hình chính"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="togglePoints()" title="Điểm số">
      <mat-icon>scoreboard</mat-icon>
    </button>
    <span class="spacer"></span>
    <button
      mat-icon-button
      (click)="changeMatchPosAdmin('KD')"
      title="Khởi động"
    >
      <mat-icon>grass</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="changeMatchPosAdmin('VCNV_Q')"
      title="Vượt chướng ngại vật"
    >
      <mat-icon>landscape</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="changeMatchPosAdmin('TT_Q')"
      title="Tăng tốc"
    >
      <mat-icon>rocket_launch</mat-icon>
    </button>
    <button mat-icon-button (click)="changeMatchPosAdmin('VD')" title="Về đích">
      <mat-icon>military_tech</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="changeMatchPosAdmin('CHP')"
      title="Câu hỏi phụ"
    >
      <mat-icon>workspaces</mat-icon>
    </button>
  </mat-toolbar>
  <div
    *ngIf="isBlocked"
    (click)="closeBlockFrame()"
    class="aurora items-center w-screen h-screen fixed z-40 flex justify-center text-center text-3xl font-bold"
  >
    Nhấn bất kì nơi nào trên màn hình
  </div>
  <router-outlet></router-outlet>

</div>
