<div [ngClass]="{'overflow-x-hidden overflow-y-scroll': roleId===1}" class="w-screen overflow-hidden h-screen">
    <mat-toolbar color="" *ngIf="roleId == 1">
        <button mat-icon-button (click)="changeMatchPosAdmin('H')" title="Quay về màn hình chính">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button (click)="togglePoints()" title="Điểm số">
            <mat-icon>scoreboard</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button (click)="changeMatchPosAdmin('CHP')" title="Câu hỏi phụ">
            <mat-icon>workspaces</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>