<div class="w-full h-full relative">
  @if (this.network.networkStatus !== NETWORK_STATUS.UNCONNECTED) {
  <div class="w-72 flex gap-3 justify-center items-center h-20 right-5 absolute top-5">
    <div class="w-10/12 font-semibold text-right">
      Địa chỉ máy chủ tại <br />
      <span class="font-light flex justify-end items-center gap-1.5 h-max"
        >{{ this.network.url? this.network.url: 'Không xác định'}}
        <span class="w-3 h-3 rounded-full flex" [ngClass]="{'bg-green-300': network.networkStatus === NETWORK_STATUS.CONNECTED, 'bg-red-300': network.networkStatus !== NETWORK_STATUS.CONNECTED}"></span
      ></span>
    </div>
    <div class="w-2/12 h-full grid place-items-center">
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>power_settings_new</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="disconnect()">Ngắt kết nối</button>
        <button mat-menu-item>Huỷ</button>

      </mat-menu>
    </div>
  </div>
  }
  <router-outlet></router-outlet>
</div>
