<div class="flex h-screen w-screen gap-5 p-10 box-border">
  <div class="disablePointerActions box-border flex flex-col items-center">
    <countdown [currentTime]="this.currentTime" [maxTime]="this.maxTime" />

    <div class="text-2xl w-64 rounded-xl mt-11 text-center">
      {{ curQuestion.question }}
    </div>

    <player-list
      [players]="auth.matchData().players"
      [highlightIndex]="auth.userInfo().index!"
    ></player-list>
  </div>
  <div class="text-3xl flex flex-col gap-3">
    @if ( curQuestion.type == 'TT_VD' ) {
    <video
      muted="true"
      *ngIf="curQuestion.type == 'TT_VD'"
      id="video-1"
      class="disablePointerActions questionBox z-10 w-full h-full"
      preload="auto"
      poster="../../assets/misc/placeholder.png"
    >
      <source src="{{ videoSource }}" type="video/mp4" />
    </video>
    } @else if ( curQuestion.type == 'TT_IMG' ) {

    <img
      *ngIf="imageSource != '' && curQuestion.type == 'TT_IMG'"
      src="{{ imageSource }}"
      class="disablePointerActions questionBox object-cover w-full h-full"
    />
    } @else {
    <img
      src="../../assets/misc/placeholder.png"
      class="shadow-xl disablePointerActions questionBox w-full h-full"
    />
    }
    <div class="w-full flex gap-2 justify-center items-center">
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        *ngIf="auth.userInfo().roleId != 3"
        class="w-5/12"
      >
        <input
          matInput
          autofocus
          (keyup)="checkIfTime()"
          [(ngModel)]="playerAnswer"
          (keydown.enter)="submitAnswer()"
          autocomplete="off"
          placeholder="Đáp án"
        />
      </mat-form-field>
      <button
        *ngIf="auth.userInfo().roleId != 3"
        (click)="submitAnswer()"
        [disabled]="currentTime <= 0"
        mat-icon-button
      >
        <mat-icon>done</mat-icon>
      </button>
      <span
        *ngIf="auth.userInfo().roleId != 3"
        class="disablePointerActions w-3/12 flex-wrap text-2xl ml-5 p-2 rounded-xl inline text-center"
      >
        {{ answerCache.toUpperCase() }}</span
      >
      <span
        *ngIf="auth.userInfo().roleId != 3"
        class="disablePointerActions text-4xl flex-grow ml-5 p-2 rounded-xl inline-block text-center"
      >
        {{ readableTime }}</span
      >
    </div>
  </div>
</div>
