<div class="flex flex-col h-full w-full p-10 box-border">
  <div class="h-24 w-full">
    <h4 class="mb-0">
      <strong><a class="no-underline" routerLink="/admin">Admin</a> </strong>
    </h4>
    <h6>Tổng quan trận đấu</h6>
  </div>
  <div class="flex flex-grow bg-red-200"></div>
  <div class="h-10 w-full flex justify-end bg-gray-50">
    <mat-button-toggle-group>
      <mat-button-toggle>
        <mat-icon> menu </mat-icon>
      </mat-button-toggle>
      <mat-button-toggle> </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
