<div class="flex flex-col h-full w-full p-10 box-border">
  <div class="h-24 w-full">
    <h4 class="!mb-0">
      <strong
        ><a class="no-underline" routerLink="/admin">Admin</a> >
        {{
          routeNameMap.get(
            this.router.url.split("/")[this.router.url.split("/").length - 1]
          )
        }}
      </strong>
    </h4>
    <h6>Tổng quan trận đấu</h6>
  </div>
  <div class="flex-grow">
    <router-outlet></router-outlet>
  </div>
  <div class="h-10 w-full flex items-center justify-between">
    <div class="flex gap-4">
      <h6>
        Thí sinh: <strong>Đang chờ</strong>
      </h6>
      <button color="warn" mat-button>
        Chuyển đến Về đích?
      </button>
    </div>
    <mat-button-toggle-group>
      <mat-button-toggle>
        <mat-icon> menu </mat-icon>
      </mat-button-toggle>
      <mat-button-toggle> </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
