<h1 mat-dialog-title>Sửa câu hỏi</h1>
<div mat-dialog-content>
  <div>
    <mat-radio-group aria-label="Chọn loại câu hỏi" [(ngModel)]="data.type">
        <mat-radio-button [disabled]="data.type == 'CNV'" class=" p-5" value="HN">Bình thường</mat-radio-button>
        <mat-radio-button [disabled]="data.type == 'CNV'" class=" p-5" value="HN_S">Âm thanh</mat-radio-button>
        <mat-radio-button disabled="" class=" p-5" value="CNV">Chướng Ngại Vật</mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="inputForm">
      <input matInput [disabled]="data.type == 'CNV'" placeholder="Câu hỏi" [(ngModel)]="data.question">
    </mat-form-field>
    <div>
        <mat-form-field class="inputForm">
            <input matInput placeholder="Đáp án" [(ngModel)]="data.answer">
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="inputForm" >
          <input [disabled]="data.type == 'HN'" matInput placeholder="Tên file âm thanh" [(ngModel)]="data.audioFilePath">
      </mat-form-field>
  </div>
  </div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Huỷ</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
</div>