<div
  class="disablePointerActions overflow-hidden bg-gray-white items-center justify-center text-center flex flex-row h-screen w-screen"
>
  <div
    [ngClass]="{ 'zoom-out': slideIndex === 5 }"
    class="w-full h-full flex self-center justify-center items-center text-center"
  >
    <div
      [ngClass]="{ 'p-5 animate_cards_visible_after': slideIndex === 5 }"
      *ngFor="let player of matchData.players; let i = index"
      class="cards"
    >
      <div
        class="bg-gradient-to-r from-white to-transparent w-96 kinda-tall rounded-2xl absolute drop-shadow-lg"
      >
        <img
          class="z-0 flex-shrink-0 rounded-2xl"
          src="../../assets/contestants/{{ i + 1 }}.png"
        />
      </div>
      <div
        class="bg-gradient-to-t from-white via-white to-transparent w-96 kinda-tall rounded-xl relative shadow-2xl"
      >
        <div class="w-full absolute h-52"></div>
        <div class="w-full z-20 absolute bottom-0 h-80">
          <span class="relative h-full">
            <span
              class="text-7xl text-grad bg-gradient-to-r from-black to-gray-900 pt-8 pb-5 w-full flex m-2 text-left font-black"
            >
              {{ player.name }}
            </span>
            <span
              class="text-7xl text-golden bottom-0 pt-2 pb-5 w-full flex m-2 text-left font-black"
            >
              {{ player.score }}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
