.kinda-tall {
    height: 36rem;
}
.text-grad {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.animate_cards{
    animation: fading 5s ease-in-out;
}
.animate_cards_visible_after{
    animation: _fading 1s ease-in-out;
}
@keyframes fading{
    0%{
        opacity:0;
        transform: translateX(-50px);
    }
    10%{
        opacity:1;
        transform: translateX(0px);
    }
    75%{
        opacity:1;
        transform: translateX(0px);
    }
    100%{
        opacity:0;
        transform: translateX(50px);
    }
}
@keyframes _fading{
    0%{
        opacity:0;
        transform: translateY(50px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}
.cards {
    opacity: 1;
}
.disablePointerActions {
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
            user-select: none; 
}
.zoom-out {
    transform: scale(0.8);
}