<div class="w-screen h-screen flex justify-center items-center">
  <div class="w-[70rem] h-[30rem] flex flex-row">
    <div class="w-1/2 h-full flex flex-col justify-center">
      <img src="../../assets/misc/legion.png" alt="Legion" class="object-cover w-96" />
      <div>
        <h1 class="">
          Please connect to Legendary.
        </h1>
        <h3 class="font-semibold opacity-70">
          Or get Legendary <a class="text-black" href="https://github.com/huyenthoaivuahung/legendary">here</a>.
        </h3>
      </div>
    </div>
    <div class="w-1/2 h-full flex flex-col gap-5 justify-center">
      <mat-form-field appearance="outline" class="w-96 h-max">
        <mat-label>Address</mat-label>
        <input matInput placeholder="http://ip.address:port">
        <mat-hint>Enter Legendary's IP Address with the port here.</mat-hint>
      </mat-form-field>
      <button mat-raised-button class="w-max">
        <mat-icon>arrow_right</mat-icon>
        Connect
      </button>
    </div>
  </div>
</div>
