<h3 mat-dialog-title>
  <strong> Cắt ảnh </strong>
</h3>
<mat-dialog-content>
  <div class="p-3">
    <image-cropper
    [imageFile]="data.image"
    (imageCropped)="imageCropped($event)"
    [maintainAspectRatio]="true"
    [aspectRatio]="data.aspectRatioX / data.aspectRatioY"
    format="png"
  ></image-cropper>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Hủy</button>
  <button mat-button [mat-dialog-close]="this.resultImage">Lưu</button>
</mat-dialog-actions>
