@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .player-item {
    background-color: mat.get-theme-color($theme, secondary-container);
    color: mat.get-theme-color($theme, on-secondary-container);
  }
  .player-header {
    background-color: mat.get-theme-color($theme, secondary-fixed);
    color: mat.get-theme-color($theme, on-secondary-fixed);
  }
  .cdk-drag-preview {
    font: mat.get-theme-typography($theme, body-large, font) !important;
    letter-spacing: mat.get-theme-typography($theme, body-large, letter-spacing) !important;
  }
  .error {
    background-color: mat.get-theme-color($theme, error);
  }
}
