// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@use "./components/image-input/image-input-theme" as image-input;
@tailwind base;
@tailwind components;
@tailwind utilities;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

$m3-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: matx.$m3-rose-palette,
    ),
    typography: (
      brand-family: "Montserrat",
      plain-family: "Noto Sans",
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
    ),

  )
);

$m3-light-theme: matx.define-theme(
  (
    color: (
      theme-type: light,
      primary: matx.$m3-rose-palette,
      tertiary: matx.$m3-green-palette,
    ),
  )
);
html {
  // Apply the base theme at the root, so it will be inherited by the whole app.
  @include mat.all-component-themes($m3-theme);
  @include mat.typography-hierarchy($m3-theme);
  @include image-input.color($m3-theme);
  @if mat.get-theme-type($m3-theme) == dark {
    background: linear-gradient(
      135deg,
      mat.get-theme-color($m3-theme, surface) 0%,
      mat.get-theme-color($m3-theme, surface) 77%,
      mat.get-theme-color($m3-theme, primary, 10) 100%
    );
  } @else {
    background: linear-gradient(
      135deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) 77%,
      mat.get-theme-color($m3-theme, primary, 90) 100%
    );
  }

  color: mat.get-theme-color($m3-theme, on-surface);
  a {
    @if mat.get-theme-type($m3-theme) == dark {
      color: mat.get-theme-color($m3-theme, primary, 50);
    } @else {
      color: mat.get-theme-color($m3-theme, primary, 70);
    }
  }
}
//.light-theme {
//  @include mat.all-component-themes($m3-light-theme);
//}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;

}
strong {
  font-weight: 600 !important;
}
