// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@tailwind base;
@tailwind components;
@tailwind utilities;


// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

$m3-dark-theme: matx.define-theme(
  (
    color: (
      theme-type: light,
      primary: matx.$m3-rose-palette,
      tertiary: matx.$m3-green-palette,
    ),
    typography: (
      brand-family: "Montserrat",
      plain-family: "Noto Sans",
      bold-weight: 900,
    ),
  )
);

$m3-light-theme: matx.define-theme(
  (
    color: (
      primary: matx.$m3-rose-palette,
      tertiary: matx.$m3-green-palette,
    ),
  )
);
.light-theme {
  @include mat.all-component-themes($m3-dark-theme);
  height: 100%;
}

//.light-theme {
//  @include mat.all-component-themes($m3-light-theme);
//}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 77%,
    rgba(255, 212, 212, 1) 100%
  );
  --mat-menu-item-label-text-font: 'Noto Sans';
  --mdc-list-list-item-label-text-font: 'Noto Sans';
  --mat-tree-node-text-font: 'Noto Sans';
  --mat-toolbar-title-text-font: 'Noto Sans';
  --mat-stepper-container-text-font: 'Noto Sans';
  --mat-stepper-header-label-text-font: 'Noto Sans';
  --mat-expansion-header-text-font: 'Noto Sans';
  --mat-expansion-container-text-font: 'Noto Sans';

}
body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}
