
<div class="flex h-screen justify-center bg-gray text-white items-center">
    <div class="text-center font-black">
        <div class="m-3">
            <img class="w-32 h-32 m-auto" src="../../assets/htvhlogobw.png">
        </div>
        <p class=" text-4xl">Chào mừng bạn đến với Huyền Thoại Vua Hùng IV!</p>
        <div *ngIf="ifAuth === false">
            <mat-form-field>
                <mat-label>Nhập ID do BTC cung cấp</mat-label>
                <input matInput placeholder="ID" [(ngModel)]="authString" >
            </mat-form-field>
            <button mat-icon-button (click)="auth()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>    
</div>

