.mat-column-id {
    width: 80px;
    text-align: center;
    padding: 0px;
}
.mat-cloumn-name{
    width: 160px;
    text-align: left;
    padding-left: 10px;
}
th.mat-mdc-header-cell:first-of-type, td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type {
    padding-left: 0px;
  }
  
  .mat-column-name{
    width: 200px;
    text-align: left;
    padding-left: 10px;
  }
  .mat-column-score{
    width: 1em;
    text-align: center;
    padding-right: 10px;
  }
  .mat-column-id {
    width: 80px;
    text-align: center;
    padding: 0px;
  }
  .file-input {
    display: none;
  }

